# Ignore js files inside local chromium download on Travis.
**/chrome-linux/**
**/chrome-win32/**

**/node_modules/**

tmp
.DS_Store
npm-debug.log

gsheets.config.js

# Typescript built files
lib/sheets/*.js
lib/drive/*.js
lib/oauth/*.js
lib/expectations.js
lib/upload.js
lib/metrics.js
types/types.js
lib/utils/*.js
test/google-oauth.js
