# Ignore js files inside local chromium download on Travis.
node_modules
tmp
.DS_Store
npm-debug.log

gsheets.config.js

# Typescript built files
lib/sheets/*.js
lib/outh/*.js
types/types.js

test/google-outh.js
