# Ignore js files inside local chromium download on Travis.
**/chrome-linux/**
**/chrome-win32/**

**/node_modules/**

tmp
.DS_Store
npm-debug.log

gsheets.config.js

# Typescript built files
lib/sheets/*.js
lib/outh/*.js
lib/expectations.js
types/types.js
lib/utils/*.js
test/google-outh.js
