node_modules
tmp
.DS_Store
npm-debug.log

gsheets.config.js

# Typescript built files
lib/sheets/*.js
lib/oauth/*.js
lib/drive/*.js
lib/utils/*.js
lib/expectations.js
lib/upload.js
lib/metrics.js
types/types.js
